{% extends 'ads/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'ads:ad_list' %}" class="btn btn-info">Назад</a>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о товаре
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название</td>
                            <td>{{ object.title }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>{{ object.price }} руб.</td>
                        </tr>
                    </table>
                </div>

                </div>
            </div>
        <div class="col-6">
        {% if object.picture %}
        <img src="/media/{{ object.picture }}" width="400" height="400" />
        {% else %}
        <img src="/media/товар.jpg" width="400" height="200" />
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}